* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.addmovie {
    /* border: 2px solid black;
    border-radius: 10px; */
    padding: 20px;
    margin: auto;
    width: 80%;
}

.addmovie_main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.addmovie_side_img img {
    width: 550px;
    height: 660px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 75%);
}



.addmovie_form {
    padding: 10px;
    width: 550px;
    height: 660px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 75%);
}

.addmovie_form h1 {
    text-align: center;
    margin-bottom: 10px;
    color:#58BDD5 ;
}

.addmovie_div {
    margin-top: 10px;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.addmovie_div label {
    font-size: large;
    margin-bottom: 8px;
}

.addmovie_div label:hover{
    color: #58BDD5;
}

.addmovie_div input {
    width: 250px;
    height: 35px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent;
    border-bottom: 2px solid #16181D;
}

.addmovie_div textarea {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #16181D;
    background-color: transparent;
}

.addmovie_1 {
    display: flex;
    justify-content: space-evenly;
}

.addmovie_btn button {
    width: 120px;
    height: 40px;
    margin-left: 210px;
    margin-top: 10px;
    font-size: medium;
    color: aliceblue;
    background-color:#58BDD5;
    border: 0PX;
    border-radius: 5px;
}